.carousel-container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    .carousel-item {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1.2s;
    }
}